.main-header
{
    display: flex;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.left-header
{
    display: flex;
    align-items: center;
}

.right-header
{
    display: flex;
}

.topic{
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.users-topic
{
    margin-left: 30px;
}

.header-topic
{
    margin-right:20px;
    align-self: center;
}
