.tiles
{
    display: flex;
    margin-bottom: 15px;
    margin-top: 30px;
    justify-content: space-between;
    width: 1150px;
}

.tiles div
{
   height: 150px;
   min-width: 200px;
   margin-right: 20px;
   padding: 30px;
}

