.search-container
{
    display: flex;
    align-items: center;
    border-radius: 999px 999px 999px 999px;
    height: 40px;
    padding: 10px 20px;
    background-color: rgb(187, 215, 216);
}
.search-container input
{
    border: none;
    outline: none;
    background-color: inherit;
    margin-right: 10px !important;
}
