a{
    text-decoration: none;
    color: white;
}

label
{
    font-weight: bolder;
}

tr{
    cursor: pointer;
    border-bottom: white;
}


tr .btn-success:hover
{
    background-color: rgb(81, 209, 81);
    color: black;
}

tr .btn-success
{
    background-color: rgb(84, 84, 218);
    color: white;
    border:none;
}

tr .btn-danger:hover
{
    background-color: red;
    color: white;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container-fluid
{
    display: flex;
    padding: 0px;
}

tr .btn-danger
{
    background-color: red;
    color: black;
    border: none;
}

main
{
    width: 100%;
}

.sidebar
{
    background-color: black;
    color: white;
    position: fixed;
    height: 100vh;
    margin-left: 0;
}

